*{
    color: blueviolet;
} 

 div p{
    color: brown;
} 

 div>p{
    color: aqua;

} 


 div~p{
    color: chartreuse;
} 

div+p{
    color: rgb(233, 9, 203);
}

/*h1,span{ 
    color: brown;
} */
