p{
    border: 5px solid rgb(0, 0, 0);
    max-width: 150px;
    max-height: 150px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}