
/* h1:hover{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* h1:active{
    color: blueviolet;
} */

/* input:focus{
    background-color: brown;
    color: blue;

} */

a:link{
    color: yellow;
    text-decoration:none;
}

a:visited{
    color: purple;
}